@import-normalize;

body {
  font-family: -apple-system, BlinkMacSystemFont,'Gilroy' 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy'), url(./fonts/Gilroy/Gilroy-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy'), url(./fonts/Gilroy/Gilroy-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy'), url(./fonts/Gilroy/Gilroy-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy'), url(./fonts/Gilroy/Gilroy-Semibold.ttf) format('truetype');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  margin: 0 auto;

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    padding: 40px 100px;
  } 

  @media (min-width: 768px) and (max-width: 1199px) {
    padding: 20px 50px;
  } 

  @media screen and (min-width: 320px) {
  } 
}
section {
  background: rgb(249, 241, 231);
    background: linear-gradient(90deg, rgba(249, 241, 231, 1) 71%, rgba(252, 248, 243, 1) 71%);
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  margin: 0;
}

*::before,
*::after {
  box-sizing: border-box;
}


body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

article>*+* {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}